nav{
  padding: 12px 60px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e2e2e2;
  height: 50px;
  background-color: #1B1A17;
}

.toogle-menu{
  display: none;
}

ul{
  display: flex;
}

li{
  text-decoration: none;
  list-style: none;
  margin-left: 32px;
}

@media only screen and (max-width: 600px) {
  nav{
    padding: 4px 32px;
  }
  
  .nav-menu-toogle-actived{
    background-color: #1B1A17;
    position: absolute;
    top: 52px;
    right: 0;
    width: 100%;
    height: 24vh;
    transition: 0.5s;
  }

  .nav-menu{
    position: absolute;
    top: -100vh;
    right: 0;
    width: 100%;
    transition: 0.5s;
  }

  .toogle-menu{
    display: inline-block;
  }
  
  ul.nav-links{
    align-items: center;
    flex-direction: column;
    /* background-color: #646360; */
    width: 100%;
    padding: 0;
  }

  li{
    margin: 4px 100%;
  }
}