.btn{
  border-radius: 4px;
  font-weight: 700;
}

.black{
  color: #1B1A17;
}

.yellow{
  color: #F0A500;
}

/* Size */
.btn--small{
  font-size: 12px;
  padding: 8px 16px;
}

.btn--medium{
  font-size: 14px;
  padding: 12px 24px;
}

.btn--large{
  font-size: 16px;
  padding: 16px 32px;
}

/* Type */
.btn--outlined{
  color: #1B1A17;
  background-color: transparent;
  border: 2px solid #F0A500;
}

.btn--filled{
  background-color: #F0A500;
  color: #1B1A17;
  border: 0;
}

.btn--link{
  background-color: transparent;
  color: #1B1A17;
  border: 0;
}

