.full{
  height: 100vh;
}

.partial{
  height: 80vh;
}

.half{
  height: 50vh;
}

section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.hero{
  width: 580px;

}

.image img{
  width: 400px;
}

h4{
  font-size: 42px;
  font-weight: bold;
  margin: 0 !important;
}

.tag-line{
  color: #F0A500;
  font-size: 24px;
  font-weight: bold;
}

.description{
  font-size: 16px;
  line-height: 150%;
}

@media only screen and (max-width: 600px) {
  section{
    text-align: center;
    height: 80vh !important;
  }
  .description{
    display: none;
  }
  .image{
    display: none;
  }
}